<!--

/* Comment */
.style-class4 {
	color: #0D5798;
	border: 1px solid #CCCBBB;
	font-size: 16px;
	background: #F0FAFF;
}
   
/*  Comment */
.style-class5 {
	color: #8CAFCD;
	border: 1px solid #CCCAAA;
	font-size: 16px;
	background: #F0F8CF;
}

/* Comment */
.style-class6 {
	border: 1px solid #EEE222;
	font-size: 16px;
	background: #80F8FF;
	color: black;
}
   
/* Comment */
.style-class7,.style-class8 {
	border: 1px solid #EEE222;
	font-size: 16px;
	background: #80F8FF;
	color: black;
}
//-->