<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.usage.internal.reporting.UsageReportDispatcher">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.usage.internal.preferences.UsageReportPreferencePage"
            id="org.jboss.tools.usage.analytics.preferences.UsageAnalyticsPreferencePage"
            name="%page.name"
            category="org.jboss.tools.common.model.ui.MainPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jboss.tools.usage.internal.preferences.UsageReportPreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.epp.logging.aeri.ide.servers">
      <server 
            id="org.jboss.tools"
            class="org.eclipse.epp.internal.logging.aeri.ide.server.mars.ServerConnection"
            icon16="icons/obj16/jbosstools.png"
            icon32="icons/obj32/jbosstools.png"
            icon64="icons/obj64/jbosstools.png"
            name="JBoss Tools"
            description="JBoss Tools wishes to get notified about errors that occur in - or may affect the usability of - JBoss Tools. See &lt;a href=&quot;http://tools.jboss.org/usage/&quot;&gt;JBoss Usage Reporting&lt;/a&gt; For details on privacy and data usage."
            >
             <link
               href="https://www.redhat.com"
               rel="provider"
               title="Red Hat, Inc.">
         </link>
         <!-- test that redirects to https://redhat.ctrlflow.com/rest/2.0/community/discovery" -->
         <link
               href="http://tools.jboss.org/usage/errors/rest/2.0/community/discovery" 
               rel="discovery"
               title="Discovery URL">
         </link>
      </server>
   </extension>
   
</plugin>
