<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
      		description="%command.newEditor.sidebyside.description"
            name="%command.newEditor.sidebyside.name"
            categoryId="org.eclipse.ui.category.window"
            id="org.jboss.tools.sidebyside.newEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.jboss.tools.sidebyside.newEditor"
            class="org.jboss.tools.common.ui.sidebyside.handlers.SideBySideHandler">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jboss.tools.sidebyside.newEditor"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:window?after=newEditor">
            <command
            	  label="%command.newEditor.sidebyside.name"
                  commandId="org.jboss.tools.sidebyside.newEditor"
                  mnemonic="S"
                  id="org.jboss.tools.sidebyside.menus.newEditor">
            </command>
      </menuContribution>
   </extension>
</plugin>
