<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.runtime.JBossRuntimeStartup">
      </startup>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.runtime.preferences.JBossRuntimePreferencesInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            id="org.jboss.tools.runtime.jbossruntime"
            icon="$nl$/icons/jboss.gif"
            name="%JBoss_Runtimes">
         <mapping
               scope="instance">
            <entry
               node="org.drools.eclipse">
               <key name="Drools.Runtimes"></key>
            </entry>
            <entry
               node="org.eclipse.wst.server.core">
               <key name="runtimes"></key>
            </entry>
            <entry
               node="org.jboss.tools.seam.core">
               <key name="org.jboss.tools.seam.core.runtime.list"></key>
            </entry>
            <entry
               node="org.jboss.tools.jbpm.common">
               <key name="jbpm-name"></key>
            </entry>
            <entry
               node="org.jboss.tools.runtime">
               <key name="servers"></key>
               <key name="jbpms"></key>
            </entry>
            <entry
               node="org.jboss.ide.eclipse.as.ui">
            </entry>
         </mapping>
         <description>%ImportExportJBossRuntimes</description>
      </transfer>
   </extension>
   <!--
   <extension
         point="org.eclipse.wst.server.core.runtimeLocators">
      <runtimeLocator
            class="org.jboss.tools.runtime.JBossRuntimeLocator"
            id="org.jboss.ide.eclipse.as.ui.wizards.jboss.runtimeLocator"
            typeIds="org.jboss.ide.eclipse.as.*">
      </runtimeLocator>
   </extension>
   -->
   
</plugin>
