<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.common.ui.JBossPerspectiveFactory"
            icon="$nl$/icons/jboss16.png"
            id="org.jboss.tools.common.ui.JBossPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jboss.tools.common.ui.JBossPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
     	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
        class="org.jboss.tools.common.ui.marker.ConfigureProblemSeverityResolutionGenerator"/>
   </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="org.jboss.tools.common.ui.JBossPerspective">
            <newWizardShortcut
                  id="org.eclipse.jst.servlet.ui.project.facet.WebProjectWizard">
            </newWizardShortcut>
            <actionSet id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet"/>
         </perspectiveExtension>
      </extension>
      <extension point="org.jboss.tools.common.quickFix">
		<quick-fix-generator generator-class="org.jboss.tools.common.ui.marker.ConfigureProblemSeverityResolutionGenerator" id="org.jboss.tools.common.ui.marker.ConfigureProblemSeverityResolutionGenerator" />
    </extension>
    <extension
      point="org.eclipse.jdt.ui.javaEditorTextHovers">
   <hover
         activate="true"
         class="org.jboss.tools.common.ui.quickfix.BaseJavaHover"
         id="org.jboss.tools.common.ui.quickfix.BaseJavaHover"
         label="Base Java Hover">
   </hover>
</extension>

   <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="%preferenceNewServiceKeywords"
            id="org.jboss.tools.common.ui.newService"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
     <wizard 
         category="org.eclipse.jdt.ui.java" 
         class="org.jboss.tools.common.ui.wizard.service.NewServiceCreationWizard" 
         icon="platform:/plugin/org.jboss.tools.common.ui/icons/JavaServiceProvider.png"
         id="org.jboss.tools.common.ui.wizard.service.NewServiceCreationWizard" 
         name="Service Provider" 
         project="false">
         <description>
            Create a Service Provider Type
         </description>
         <keywordReference
               id="org.jboss.tools.common.ui.newService">
         </keywordReference>
      </wizard>
   
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="Register As Service"
            description="Adds class name to META-INF/services/%serviceType% file after service type is selected in the dialog from types extended and implemented by the class."
            id="org.jboss.tools.common.ui.RegisterAsService"
            categoryId="org.eclipse.ui.category.file">
      </command>
   
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler class="org.jboss.tools.common.ui.wizard.service.RegisterAsServiceHandler"
            commandId="org.jboss.tools.common.ui.RegisterAsService">
            <activeWhen>
      			<with variable="selection">
                    <count value="1" />
                    <or>
                    	<iterate>
                       		<adapt type="org.eclipse.jdt.core.IType" />
 				    	</iterate>
                    	<iterate>
                       		<adapt type="org.eclipse.jdt.core.ICompilationUnit" />
 				    	</iterate>
 				    </or>
				</with>
            </activeWhen>
      </handler>
   </extension>   

   <extension point="org.eclipse.ui.menus">
      <menuContribution 
      	allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.jboss.tools.common.ui.RegisterAsService"
              label="Register As Service...">
              <visibleWhen
                    checkEnabled="true">
              </visibleWhen>
           <!--visibleWhen checkEnabled="false">
      			<with variable="selection">
                    <count value="1" />
                    <or>
                    	<iterate>
                       		<adapt type="org.eclipse.jdt.core.IType" />
 				    	</iterate>
                    	<iterate>
                       		<adapt type="org.eclipse.jdt.core.ICompilationUnit" />
 				    	</iterate>
 				    </or>
				</with>
           </visibleWhen-->
        </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key sequence="M1+M2+F10"
           commandId="org.jboss.tools.common.ui.RegisterAsService"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
</plugin>
