<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.common.ui.JBossPerspectiveFactory"
            icon="$nl$/icons/jboss16.png"
            id="org.jboss.tools.common.ui.JBossPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jboss.tools.common.ui.JBossPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
     	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
        class="org.jboss.tools.common.ui.marker.ConfigureProblemSeverityResolutionGenerator"/>
   </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="org.jboss.tools.common.ui.JBossPerspective">
            <newWizardShortcut
                  id="org.eclipse.jst.servlet.ui.project.facet.WebProjectWizard">
            </newWizardShortcut>
            <actionSet id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet"/>
         </perspectiveExtension>
      </extension>
      <extension point="org.jboss.tools.common.quickFix">
		<quick-fix-generator generator-class="org.jboss.tools.common.ui.marker.ConfigureProblemSeverityResolutionGenerator" id="org.jboss.tools.common.ui.marker.ConfigureProblemSeverityResolutionGenerator" />
    </extension>
    <extension
      point="org.eclipse.jdt.ui.javaEditorTextHovers">
   <hover
         activate="true"
         class="org.jboss.tools.common.ui.quickfix.BaseJavaHover"
         id="org.jboss.tools.common.ui.quickfix.BaseJavaHover"
         label="Base Java Hover">
   </hover>
</extension>
</plugin>
