<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.jboss.tools.runtime.core.runtimeDetectors">
    	<runtimeDetector
    		id="org.jboss.tools.runtime.handlers.SeamHandler"
    		name="Seam"
       		class="org.jboss.tools.runtime.handlers.SeamHandler"
       		preferenceId="org.jboss.tools.common.model.ui.seam"
       		priority="200"/>
	</extension>
</plugin>
