<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.jboss.tools.common.model.ui.MainPreferencePage"
           class="org.jboss.tools.runtime.ui.preferences.RuntimePreferencePage"
           id="org.jboss.tools.runtime.preferences.RuntimePreferencePage"
           name="%JBoss_Runtimes"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.runtime.ui.RuntimeScanner"></startup>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.runtime.ui.preferences.JBossRuntimePreferencesInitializer"/>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
    <category
            name="%JBoss_Tools_category"
            id="org.jboss.ide.eclipse.ui.wizards">
      </category>
    <wizard
          category="org.jboss.ide.eclipse.ui.wizards"
          class="org.jboss.tools.runtime.ui.internal.wizard.DownloadRuntimesWizard"
          icon="icons/xpl/search_local.png"
          id="org.jboss.tools.runtime.ui.wizard.DownloadRuntimesWizard"
          name="%Download_Runtimes_wizard">
    </wizard>
  </extension>
  
</plugin>
