<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <display-name>HiperlinksTestProject</display-name>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <filter>
  <description>JUnit Test Filter</description>
  <display-name>JUnit Test Filter Display Name</display-name>
  <filter-name>Filter1</filter-name>
  <filter-class>org.jboss.tools.test.FilterTest</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>Filter1</filter-name>
  <url-pattern>*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
 </listener>
 <!-- Faces Servlet -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!-- Faces Servlet Mapping -->
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <security-constraint>
  <display-name>Accessible For Role1</display-name>
  <web-resource-collection>
   <web-resource-name>stylesheets</web-resource-name>
   <url-pattern>/stylesheet*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Designer</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <display-name>Accessible For Role1</display-name>
  <web-resource-collection>
   <web-resource-name>stylesheets</web-resource-name>
   <url-pattern>*.jsp</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Developer</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 <security-role>
  <role-name>Administrator</role-name>
 </security-role>
 <security-role>
  <role-name>Designer</role-name>
 </security-role>
 <security-role>
  <role-name>Developer</role-name>
 </security-role>
</web-app>
