<?xml version="1.0" encoding="UTF-8"?>
<!--

 Copyright 2004-2005 The Apache Software Foundation.
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

-->
#if ($servlet_version == "2.4")
<web-app version="2.4" 
xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"> 
#else 
<!DOCTYPE web-app PUBLIC 
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
  "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
#end 

  <display-name>Struts-Shale Use Cases Example</display-name>

  <!-- JSF RI verify objects at start -->
  <context-param>
    <param-name>com.sun.faces.verifyObjects</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- Select JSF State Saving Mode -->
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>

  <!-- Commons Chain Configuration Resources -->
  <context-param>
    <param-name>org.apache.commons.chain.CONFIG_WEB_RESOURCE</param-name>
    <param-value>/WEB-INF/chain-config.xml</param-value>
  </context-param>

  <!-- Spring ApplicationContext Configuration -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/daoContext.xml /WEB-INF/applicationContext.xml</param-value>
  </context-param>
  
   <!-- Clay Configuration Resources -->
   <context-param>
      <param-name>clay-config-files</param-name>
      <param-value>/WEB-INF/clay-config.xml</param-value>
   </context-param>
  
  <!-- Shale Application Controller Filter -->
  <filter>
    <filter-name>shale</filter-name>
    <filter-class>
      org.apache.shale.faces.ShaleApplicationFilter
    </filter-class>
  </filter>

  <!-- Shale Application Controller Filter Mapping -->
  <filter-mapping>
    <filter-name>shale</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Commons Chain Configuration Listener -->
  <listener>
    <listener-class>
      org.apache.commons.chain.web.ChainListener
    </listener-class>
  </listener>

  <!-- Spring ApplicationContext Configuration Listener -->
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <!-- Application Startup/Shutdown Listener -->
<!--
  <listener>
    <listener-class>
      org.apache.shale.usecases.webapp.ApplicationListener
    </listener-class>
  </listener>
-->

  <!-- JavaServer Faces Servlet Configuration -->
  <servlet>
    <servlet-name>faces</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- JavaServer Faces Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>faces</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>

  <!-- JavaServer Faces Servlet Mapping for Clay HTML Full View --> 
  <servlet-mapping>
    <servlet-name>faces</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <!-- JavaServer Faces Servlet Mapping for Clay XML Full View --> 
  <servlet-mapping>
    <servlet-name>faces</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>

  <!-- Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Environment Entries for JNDI Tests -->
  <env-entry>
    <env-entry-name>env/String</env-entry-name>
#if ($servlet_version == "2.4")
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>String Value</env-entry-value>
#else 
    <env-entry-value>String Value</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
#end 
  </env-entry>
  <env-entry>
    <env-entry-name>env/Integer</env-entry-name>
#if ($servlet_version == "2.4")
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>10</env-entry-value>
#else 
    <env-entry-value>10</env-entry-value>
    <env-entry-type>java.lang.Integer</env-entry-type>
#end 
  </env-entry>

</web-app>
