<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
   		 id="TestValidator"
         point="org.jboss.tools.common.validation.validator">
         <validator
               class="org.jboss.tools.common.validation.test.TestValidator"
               name="TestValidator"
               id="org.jboss.common.validation.test.TestValidator"
               problemType="org.eclipse.wst.validation.problemmarker">
         </validator>
         <validator
               class="org.jboss.tools.common.validation.test.TestSynchronizationValidator"
               name="TestSynchronizationValidator"
               id="org.jboss.common.validation.test.TestSynchronizationValidator"
               problemType="org.eclipse.wst.validation.problemmarker">
         </validator>
         <validator
               class="org.jboss.tools.common.validation.test.TestContextValidator"
               name="TestValidator"
               id="org.jboss.common.validation.test.TestContextValidator"
               problemType="org.eclipse.wst.validation.problemmarker">
         </validator>
   </extension>
</plugin>