<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.common.jdt.ui.commands.materializeLibrary"
            name="Copy Classpath Libraries"
            defaultHandler="org.jboss.tools.common.jdt.ui.buildpath.handlers.MaterializeLibraryHandler"
            >
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution 
      	allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.jboss.tools.common.jdt.ui.commands.materializeLibrary"
              label="Copy Classpath Libraries..."
              mnemonic="M">
           <visibleWhen checkEnabled="false">
      			<with variable="selection">
                  <and>
                    <count value="1" />
                    <iterate operator="and">
                       <adapt type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer" />
 				    </iterate>
				  </and>
				</with>
           </visibleWhen>
        </command>
      </menuContribution>
   </extension>
   
</plugin>
