<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.common.jdt.ui.commands.materializeLibrary"
            name="Materialize Library"
            defaultHandler="org.jboss.tools.common.jdt.ui.buildpath.handlers.MaterializeLibraryHandler"
            >
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution 
      	allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.jboss.tools.common.jdt.ui.commands.materializeLibrary"
              label="Materialize Library..."
              mnemonic="M">
           <visibleWhen checkEnabled="false">
                 <!--               org.eclipse.jdt.internal.ui.packageview.ClassPathContainer   
                 <instanceof value="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"/>
                 -->
      			<with variable="selection">
                  <and>
                    <count value="1" />
                    <iterate operator="and">
                       <adapt type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer" />
 				    </iterate>
				  </and>
				</with>
           </visibleWhen>
        </command>
      </menuContribution>
   </extension>
   
   <!-- 
   <extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="materializeLibraryPopup"
                          objectClass="org.eclipse.core.runtime.IAdaptable"
                          adaptable="true">
         <action id="materializeLibraryAction"
                 class="org.jboss.tools.common.jdt.ui.generic.GenericCommandActionDelegate:org.jboss.tools.common.jdt.ui.commands.materializeLibrary"
                 label="Materialize fucking library"
                 style="push"
                 definitionId="materializeLibrary"
                 menubarPath="org.eclipse.m2e.core.fileMenu/open"
                 enablesFor="+"/>
      </objectContribution>
  </extension>   
   -->
</plugin>
