<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.jboss.tools.common.model.ui" class="org.jboss.tools.common.verification.ui.vrules.preferences.VerificationPreferencePage" id="org.jboss.tools.common.verification.ui" 
            name="%PreferencePage_Verification">
      </page>
   </extension>

   <extension point="org.jboss.tools.common.model.specialwizard">
      <specialwizard class="org.jboss.tools.common.verification.ui.vrules.wizard.runtime.VerifyWizard" id="org.jboss.tools.common.verification.ui.vrules.wizard.runtime.VerifyWizard">
      </specialwizard>
      <specialwizard class="org.jboss.tools.common.verification.ui.vrules.wizard.runtime2.VerifyWizard" id="org.jboss.tools.common.verification.ui.vrules.wizard.runtime2.VerifyWizard">
      </specialwizard>
      <specialwizard class="org.jboss.tools.common.verification.ui.vrules.wizard.config.VRulesConfigurationWizard" id="org.jboss.tools.common.verification.ui.vrules.wizard.config.VRulesConfigurationWizard">
      </specialwizard>
   </extension>

   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
         loader="org.jboss.tools.common.verification.ui"
          priority="0"
          kind="class"
          paths=".ui.vrules."
      />
   </extension>

   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.common.verification.ui"
          priority="1"
          kind="class"
          paths=".XStudioVerificationPlugin,.ui.vrules."
      />
   </extension>

	<extension point="org.jboss.tools.common.model.classes">
 		<xclass id="org.jboss.tools.common.verification.ui.vrules.wizard.runtime2.VerifyWizard"
			class="org.jboss.tools.common.verification.ui.vrules.wizard.runtime2.VerifyWizard"/>
		<xclass id="org.jboss.tools.common.verification.ui.vrules.wizard.runtime.VerifyWizard"
			class="org.jboss.tools.common.verification.ui.vrules.wizard.runtime.VerifyWizard"/>
		<xclass id="org.jboss.tools.common.verification.ui.vrules.wizard.runtime2.VerifyWizard"
			class="org.jboss.tools.common.verification.ui.vrules.wizard.runtime2.VerifyWizard"/>
		<xclass id="org.jboss.tools.common.verification.ui.vrules.wizard.config.VRulesConfigurationWizard"
			class="org.jboss.tools.common.verification.ui.vrules.wizard.config.VRulesConfigurationWizard"/>
    </extension>
    
    <extension point="org.eclipse.ui.commands">
       <command
            name="%command.name.ExcludeValidation"
            id="org.jboss.tools.common.verification.ui.actions.ExcludeValidationCommand"
            defaultHandler="org.jboss.tools.common.verification.ui.actions.ExcludeResourceHandler"/>
   </extension>
   <extension point="org.eclipse.ui.commands">
       <command
            name="%command.name.IncludeValidation"
            id="org.jboss.tools.common.verification.ui.actions.IncludeValidationCommand"
            defaultHandler="org.jboss.tools.common.verification.ui.actions.IncludeResourceHandler"/>
   </extension>
    <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
      		namespace="org.jboss.tools.verification.ui"
            properties="resourceExcluded,resourceIncluded"
            type="org.eclipse.core.runtime.IAdaptable"
            class="org.jboss.tools.common.verification.ui.actions.ResourceExcludedExpressionFactoryTester"
            id="org.jboss.tools.common.verification.ui.actions.ResourceExcludedExpressionFactoryTester">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
            commandId="org.jboss.tools.common.verification.ui.actions.ExcludeValidationCommand"
            label="%command.label.ExcludeValidation">
            <visibleWhen>
              <with variable="selection">
					<count value="1"/>
					<iterate>
						<instanceof value="org.eclipse.core.runtime.IAdaptable"/>
				    	<test property="org.jboss.tools.verification.ui.resourceIncluded" value="true" forcePluginActivation="true"/>
					</iterate>
			  </with>     
            </visibleWhen>
         </command>
         <command
            commandId="org.jboss.tools.common.verification.ui.actions.IncludeValidationCommand"
            label="%command.label.IncludeValidation">
            <visibleWhen>
             <with variable="selection">
					<count value="1"/>
					<iterate>
						<instanceof value="org.eclipse.core.runtime.IAdaptable"/>
				    	<test property="org.jboss.tools.verification.ui.resourceExcluded" value="true" forcePluginActivation="true"/>
					</iterate>
			  </with>  
            </visibleWhen>
         </command>
       </menuContribution>
   	</extension>
</plugin>