<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.jboss.tools.runtime.core.runtimeDetectors">
    	<runtimeDetector
    		id="org.jboss.tools.runtime.handlers.InvalidHandler"
    		name="Invalid"
       		class="org.jboss.tools.runtime.handlers.InvalidHandler"
       		preferenceId="org.jboss.tools.runtime.handlers.InvalidHandler"
       		priority="9999"/>
	</extension>
	
</plugin>
