<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.jboss.tools.runtime.core.runtimeDetectors">
    	<runtimeDetector
           class="org.jboss.tools.runtime.handlers.TestHandler1"
           enabled="true"
           id="org.jboss.tools.runtime.handlers.TestHandler1"
           name="Test Handler"
           preferenceId="org.eclipse.wst.server.ui.runtime.preferencePage"
           priority="100"/>
    	<runtimeDetector
           class="org.jboss.tools.runtime.handlers.TestHandler2"
           enabled="false"
           id="org.jboss.tools.runtime.handlers.TestHandler2"
           name="Test Handler"
           preferenceId="org.eclipse.wst.server.ui.runtime.preferencePage"
           priority="100"/>
    	<runtimeDetector
    		id="org.jboss.tools.runtime.handlers.InvalidHandler"
    		name="Invalid"
       		class="org.jboss.tools.runtime.handlers.InvalidHandler"
       		preferenceId="org.jboss.tools.runtime.handlers.InvalidHandler"
       		priority="9999"/>
	</extension>
 <extension
       point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
    <provider
          class="org.jboss.tools.runtime.test.download.DownloadTestProvider">
    </provider>
 </extension>
	
	
</plugin>
