<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="%CategoryDescription_experimental"
            id="org.jboss.tools.common.model.ui.experimental"
            name="%CategoryName_experimental">
      </category>
      <categoryActivityBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            categoryId="org.jboss.tools.common.model.ui.experimental">
      </categoryActivityBinding>
      <activity
            id="org.jboss.tools.common.model.ui.templates"
            name="%ActivityName_templates">
      </activity>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.common\.model\.ui/.*templates">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.jsf\.ui/.*jsfimplementations">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.jsf\.ui/.*capabilities">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="ExadelTemplatesPropertiesPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.struts\.ui/.*environments">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.jst\.web\.ui/.*libsets">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.common\.model\.ui/ExadelTemplatesPropertiesPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.jboss.tools.common.model.ui.templates"
            pattern="org\.jboss\.tools\.jst\.web\.ui/.*SaveProjectAsTemplateActionDelegate">
      </activityPatternBinding>
   </extension>
</plugin>
